html body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
hr {
    padding: 1px 0;
    border: none;
    background-color: #BDBDBD;
}
ul {
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding-left: 4vw;
}
.container {
    min-height: 100vh;
}
.section {
    padding-left: 8vw;
    padding-right: 8vw;
    overflow: auto;
}
.landing {
    color: #FEFFFF;
    background-color: #77A6F7;/*#3AAFA9;*/
    height: 100vh;
    box-sizing: border-box;
}
.name {
    font-family: 'Roboto', sans-serif;
    font-size: 20vw;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 12vh;
}
.profile {
    font-size: 7vw;
    text-align: center;
}
.resume {
    background-color: #FFFFFF; /*#DEF2F1;*/
    color: #000000/*#17252A;*/
}
.resume > .sectionTitle {
    color: #00887A;
}
.sectionTitle {
    text-align: center;
    font-size: 10vw;
    margin-top: 8vw;
    margin-bottom: 4vw;

}
.sectionDescription {
    text-align: center;
    margin-bottom: 7vw;
    font-size: 4vw;
}
.subsectionTitle {
    color: #00a392;
}
.item {
    margin-bottom: 7vw;
}
.itemInfo {
    margin-bottom: 3vw;
}
.itemTitle {
    margin-bottom: 1vw;
    font-size: 4.5vw;
    font-weight: bold;
}
.itemDate {
    font-size: 3vw;
}
.itemDetail {

}
.itemDetailTitle {
    font-size: 3.2vw;
    font-weight: bold;
}
.itemDetailDescription {
    font-size: 3vw;
}

.subsectionTitle {
    text-align: center;
    font-size: 7vw;
    margin-top: 6vw;
    margin-bottom: 6vw;
}
.projects {
    background-color: #D3E3FC;

}
.projects > .sectionTitle {
    color: #5295ff;
}
.contact {
    background-color: #17252A;
    color: #FEFFFF;
}
.icon {
    width: 48px;
    height: 48px;
}
.facebook {
    background-image: url("../img/facebook.png");
    background-size: cover;
}
.linkedin {
    background-image: url("../img/linkedin.png");
    background-size: cover;
}
.instagram {
    background-image: url("../img/instagram.png");
    background-size: cover;
}
.contactItem:nth-child(2) {
    margin-top: 4vw;
}
.contactItem {
    margin-bottom: 4vw;
    font-size: 3.5vw;
    display: flex;
    align-items: center;
}
.iconDescription {
    margin-left: 3vw;
}
.contact a {
    text-decoration: none;
    color: #BDBDBD;
}
.itemInfo {
    display: flex;
}
.itemLeft img {
    height: 10vw;
    width: 10vw;
}
.itemLeft {
    margin-right: 2vw;
}
/*
.item {
    display:flex;
}
*/
.hamburger {
    float: left;
    position: fixed;
    margin-left: 4vw;
    margin-top: 4vw;
    background-color: #000000;
    width: 40px;
    height: 40px;
}

@media screen and (min-width: 420px) {
    .hamburger {
        display: none;
    }
    .name {
        font-size: 14vw;
        margin-top: 20vh;
        margin-bottom: 10vh;
    }
    .profile {
        font-size: 6vw;
        text-align: center;
    }
}
